

/* Your CSS below here */
.box {
  border: 1px solid darkred;
  border-radius: 15px;
  background: red;
  display: flex;
  width: 200px;
  height: 200px;
  box-shadow: 8px 8px 5px #444;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.2),rgb(0, 0, 0, 0.2));
  box-shadow: 10px 10px 5px black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0) outset, 2px 2px rgba(255, 255, 255, 0.5) inset;
}

.box p {
  font:  1.15rem sans-serif; /* 1.1REM for 16px = 18px */
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}


